.datatable .col {
  cursor: pointer;
  content: "🔻";
}

.datatable .col .pointer:after {
  font-size: 80%;
  content: "🔻";
  margin-right: 18px;
}

.datatable .col .pointer:hover:after {
  font-size: 80%;
  content: "🔻";
  margin-right: 0;
}